name: Update Subscriptions

on:
  schedule:
    - cron: '0 */6 * * *' # Автозапуск каждые 6 часов
  workflow_dispatch: # Кнопка для ручного запуска

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python update.py

      - name: Commit and push
        run: |
          git config --global user.name "SubscriptionBot"
          git config --global user.email "bot@example.com"
          # Добавляем все созданные файлы в репозиторий
          git add sub.txt sub_lite.txt business.txt business_lite.txt shadowsocks.txt vless_vmess.txt
          git commit -m "Update all subscriptions with rotation" || exit 0
          git push
