name: Update Configs

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install requests geoip2

      - name: Check database file
        run: |
          if [ -f "GeoLite2-Country.mmdb" ]; then
            echo "✅ База найдена"
          else
            echo "❌ ФАЙЛ БАЗЫ НЕ НАЙДЕН!"
            exit 1
          fi

      - name: Run update script
        run: python update.py

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Update configs & reputation: $(date +'%Y-%m-%d %H:%M')" || exit 0
          git push
        run: python update.py

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          # Заменяем выборку только .txt на добавление ВСЕХ измененных файлов
          git add -A 
          git commit -m "Update configs & reputation: $(date +'%Y-%m-%d %H:%M')" || exit 0
          git push
        run: python update.py

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add *.txt
          git commit -m "Update configs: $(date +'%Y-%m-%d %H:%M')" || exit 0
          git push
